@font-face {
  font-family: 'segoeui';
  src: url('../fonts/segoeui-light.eot');
  src: url('../fonts/segoeui-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/segoeui-light.woff') format('woff'),
  url('../fonts/segoeui-light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'segoeui';
  src: url('../fonts/segoeui-normal.eot');
  src: url('../fonts/segoeui-normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/segoeui-normal.woff') format('woff'),
  url('../fonts/segoeui-normal.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'segoeui';
  src: url('../fonts/segoeui-bold.eot');
  src: url('../fonts/segoeui-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/segoeui-bold.woff') format('woff'),
  url('../fonts/segoeui-bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
