.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, .25)) {
	text-shadow: @string;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.opacity (@opacity: .5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		    @opacity;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
	transition:         @transition;
}

.transform (@transform) {
	-webkit-transform: @transform;
	-moz-transform:    @transform;
	-ms-transform:     @transform;
	-o-transform:      @transform;
	transform:         @transform;
}

.gradient (@startColor: #eee, @endColor: white) {
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor 0%, @endColor 100%);
	background: -moz-linear-gradient(top, @startColor 0%, @endColor 100%);
	background: -ms-linear-gradient(top, @startColor 0%, @endColor 100%);
	background: -o-linear-gradient(top, @startColor 0%, @endColor 100%);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
	background: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(left, @startColor 0%, @endColor 100%);
	background: -moz-linear-gradient(left, @startColor 0%, @endColor 100%);
	background: -ms-linear-gradient(left, @startColor 0%, @endColor 100%);
	background: -o-linear-gradient(left, @startColor 0%, @endColor 100%);
}

.placeholder (@color) {
	&::-webkit-input-placeholder {color:@color;}
	&::-moz-placeholder          {color:@color;}
	&:-ms-input-placeholder      {color:@color;}
}

.image-2x (@image, @width, @height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		background-image: url(@image);
		background-size: @width @height;
	}
}