// Typography
@main-font-family:  'segoeui', Helvetica, Arial, sans-serif;
@main-line-height: 20px;
@main-font-size: 13px;
@main-font-color: #333;

//Colors
@blue-color: #4fb6dc;
@dark-grey: #a9a9a9;
@dark-blue-color: #44849d;
@white-color: #fff;
@dark-black: #707070;
@grey: #bebebe;
@light-grey: #aed0df;
@grey-lighter: #ebebeb;
@dark-grey-color: #777;
@light-grey-color: #828282;
@background-lightgrey-color: #f4f6f8;
@background-darkgrey-color: #edeff1;
@title-color: #383838;

// Header
@header-border-color: #c5c5c5;

// Banner
@banner-background-color: #368daf;

//Contacts
@input-color: #d3d3d3;
@privacy-color: #bfbfbf;

//Packages
@background-list-color: #f6f8f9;

//Scroll
@scroll-color: #d5d9db;
