.activity {
  min-height: 434px;
  position: relative;

  &__inner {
    max-width: 980px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 72px 0 69px;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__list {
    width: 47.9%;
    color: @dark-grey-color;
    padding-left: 18px;
    margin-bottom: 50px;
    height: 350px;

    &-item {
      font-size: 15px;
      line-height: 29px;
      position: relative;
      padding: 0 9px 29px 22px;

      &-title {
        font-size: 20px;
        line-height: 1.45;
        color: @dark-grey-color;
        text-transform: capitalize;
      }

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 15px;
        background: url('../images/activity/right-arrow.svg') no-repeat;
      }
    }
  }

  &__macbook {
    position: absolute;
    left: 52%;
    top: -47px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .activity {

    &__title {
      font-size: 28px;
      margin: 52px 0 58px;
      &::after {
        bottom: -25px;
      }
    }

    &__list {
      width: 85%;
      z-index: 9999;
      margin: 0 auto;

      &-item {
        padding-right: 30px;
        margin: 0 auto;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    &__macbook {
      position: relative;
      left: 0;
      width: 170%;
      margin: -20% 0 0 5%;
    }
  }
}

@media screen and (max-width: 480px) {
  .activity {

    &__list {
      width: 90%;
      padding: 0 20px;

      &-item {
        padding-right: 10px;
      }
    }
  }
}
