.advantages {
  position: relative;
  padding-bottom: 75px;

  &::before {
    content: '';
    position: absolute;
    top: 65px;
    left: 0;
    width: 230px;
    height: 540px;
    background: url('../images/advantages/advantages-line.png') no-repeat;
  }

  &__inner {
    font-size: 0;
    max-width: 980px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 72px 0 75px;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 97px;
    text-align: center;
    width: 16%;
    min-height: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    background: @white-color;
    position: relative;
    .border-radius (@radius: 4px);
    padding-top: 30px;
    margin: 5px 2% 5px 2%;

    &-icon {
      max-width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
    }

    &-description {
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
      padding: 20px 23px 0 23px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;    }

    &-hidden {
      font-size: 14px;
      line-height: 1.7;
      color: @white-color;
      text-align: left;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .border-radius (@radius: 4px);
      background-color: @blue-color;
      padding: 23px 15px;
      .transition (.3s linear);
      overflow: hidden;

      &:hover,
      &_show {
        opacity: 1;
      }

      &-content {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width : 992px) {
  .advantages {

    &__item {
      width: 28%;
      margin: 30px 2%;
    }
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    padding-bottom: 25px;

    &__title {
      font-size: 28px;
      line-height: 36px;
      margin: 45px 0 75px;

      &::after {
        bottom: -25px;
      }
    }

    &__item {
      text-align: center;
      margin: 30px 2%;
      width: 46%;

      &-number {
        margin: 0 auto;
        padding-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .advantages {

    &__item {
      display: block;
      margin: 40px auto;
      width: 75%;
    }
  }
}