.banner {
  width: 100%;
  position: relative;

  &__content {
    max-width: 980px;
    padding: 67px 85px 0;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    color: @white-color;
    line-height: 1.225;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 30px;
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.933;
    color: @white-color;
    width: 50%;
  }

  &__button1 {
    display: none;
    height: 0;
  }

  &__button {
    font-size: 17px;
    color: @blue-color;
    text-align: center;
    text-transform: capitalize;
    display: block;
    width: 191px;
    height: 46px;
    bottom: 70px;
    .border-radius(4px);
    .box-shadow(0px 3px 6px 0px rgba(0, 26, 45, 0.08));
    background-color: @white-color;
    padding-top: 12px;
    margin-top: 44px;

    &:hover {
      color: @white-color;
      background-color: @blue-color;
    }
  }

  &__slider {
    width: 100%;
    margin: 0 auto;

    &-item {
      width: 100%;
      min-height: 574px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding-bottom:60px;

      &_one {
        background-image: url('../images/banner/banner-slider/img.png');
      }

      &_two {
        background-image: url('../images/banner/banner-slider/img.png');
      }

      &_three {
        background-image: url('../images/banner/banner-slider/img.png');
      }

      &_four {
        background-image: url('../images/banner/banner-slider/img.png');
      }
    }

    .slick {
      position: relative;

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 50%;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/banner/banner-slider/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @white-color;
          background-image: url('../images/banner/banner-slider/blue-arrow.svg');
        }

      }

      &-prev {
        left: 14%;
        background-position: 7px 5px;
      }

      &-next {
        right: 14%;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        position: absolute;
        bottom: 53px;
        left: 50%;
        margin-left: -50px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: @light-grey;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @white-color;
            }
          }

          &.slick-active {
            button {
              background: @white-color;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 1200px) {
  .banner {

    .slick {
      position: relative;

      &-prev {
        left: 5%;
      }

      &-next {
        right: 5%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {

    &__content {
      padding: 80px 20px 0;
      text-align: center;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      width: 100%;
      margin-right: 0;
    }

    &__description {
      width: 100%;
      margin-right: 0;
    }

    &__button {
      margin: 44px auto 0 auto;
    }

    &__slider {
      .slick {
        &-dots {
          bottom: 10px;
        }
      }
    }
  }
}