.checkbox {
  position: relative;
  top: -3px;
  margin: 0 20px;
  cursor: pointer;
  vertical-align: middle;


  &::before {
    .transition(transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75));
    .transform(rotate(-45deg) scale(0, 0));
    content: "";
    position: absolute;
    left: 0.1875rem;
    top: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid @blue-color;
    border-top-style: none;
    border-right-style: none;
  }

  &:checked::before {
    .transform(rotate(-45deg) scale(1, 1));
  }

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 19px;
    height: 19px;
    background-color: @white-color;
    border: 1px solid @dark-grey-color;
    cursor: pointer;
  }
}