.company {
  padding-bottom: 140px;

  &__inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 75px 0;
    padding: 72px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }
  &__technology {
    color: @blue-color;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
    &-text {
      font-size: 15px;
      text-align: center;
      line-height: 1.9;
      margin: 0 auto 31px;
      width: 89%;
    }
  }

}

@media screen and (max-width: 768px) {
  .company {
    padding-bottom: 20px;
    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin: 0 0 70px;
      &::after {
        bottom: -25px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .company {
    padding-bottom: 20px;
  }
}