.contacts {
  padding: 0 0 36px 0;

  &__inner {
    font-size: 0;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 80px 0 80px;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 1%;

    &-img {
      height: 35px;
    }

    &-title {
      font-size: 20px;
      color: @blue-color;
      padding: 8px 0 30px 0;
    }

    &-information {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  &__subscribe {

    &-title {
      font-size: 20px;
      color: @blue-color;
      text-align: center;
      padding: 32px 0 26px 0;
    }

    &-privacy {
      font-size: 13px;
      color: @privacy-color;
      text-align: center;
    }

    &-form {
      text-align: center;
      padding: 45px 0 0 0;

      &-input {
        font-size: 15px;
        .border-radius (@radius: 4px);
        border: 1px solid @input-color;
        .placeholder (@input-color);
        .transition(all .3s);
        padding: 8px 44px 8px 13px;
        margin: 0 10px 16px 10px;

        &:hover,
        &:focus {
          border: 1px solid @blue-color;
        }
      }

      &-btn {
        font-size: 15px;
        text-decoration: none;
        color: @white-color;
        display: inline-block;
        background: @blue-color;
        .border-radius (@radius: 4px);
        border: 0;
        .transition(all .3s);
        padding: 9px 32px;
        margin: 0 10px 16px 10px;

        &:hover {
          background: @dark-blue-color;
        }
      }

    }

    &-description {
      font-size: 15px;
      text-align: center;
      line-height: 1.8;
      width: 58%;
      margin: 0 auto;
    }
  }
  &__social-accounts {
    text-align: center;
    padding-top: 42px;
    &-item {
      width: 35px;
      height: 35px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin: 0 15px;
      &::after,
      &::before {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }

      &::before, &:hover::after {
        .opacity(1);
        .transition(opacity .3s ease-in-out);
      }

      &::after, &:hover::before {
        .opacity(0);
        .transition(opacity .3s ease-in-out);
      }

      &_linkedin {
        &::before {
          background: url("../images/contacts/social-logo/linkedin.svg") no-repeat;
        }
        &::after {
          background: url("../images/contacts/social-logo/linkedin-hover.svg") no-repeat;
        }
      }

      &_facebook {
        &::before {
          background: url("../images/contacts/social-logo/facebook.svg") no-repeat;
        }
        &::after {
          background: url("../images/contacts/social-logo/facebook-hover.svg") no-repeat;
        }
      }
      &_twitter {
        &::before {
          background: url("../images/contacts/social-logo/twitter.svg") no-repeat;
        }
        &::after {
          background: url("../images/contacts/social-logo/twitter-hover.svg") no-repeat;
        }
      }
      &_google {
        &::before {
          background: url("../images/contacts/social-logo/google.svg") no-repeat;
        }
        &::after {
          background: url("../images/contacts/social-logo/google-hover.svg") no-repeat;
        }
      }

    }

  }

}

@media screen and (max-width: 768px) {
  .contacts {

    &__title {
      font-size: 28px;
      line-height: 36px;
      margin-top: 45px;

      &::after {
        bottom: -25px;
      }

    }

    &__item {
      width: 31%;
    }

    &__subscribe-title {
      padding-top: 0;
    }

    &__social-accounts {
      padding-top: 45px;
    }
  }

}

@media screen and (max-width: 480px) {
  .contacts {
    &__item {
      display: block;
      margin: 0 auto;
      width: 90%;
      padding: 0 0 40px 0;
    }
    &__subscribe{

      &-form {
        &-input {
          width: 95%;
          margin-bottom: 10px;
        }

        &-btn {
          padding: 9px 62px;
        }

      }
      &-description {
        width: 100%;
      }
    }
    &__social-accounts {
      &-item {
        margin: 0 10px;
      }
    }
  }

}