.contract {
  background: @white-color;
  padding: 0 0 195px 0;

  &__icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  &__inner {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
    padding: 75px 20px 35px 20px;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 65px 0;
    padding: 35px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__text {
    font-size: 15px;
    text-align: center;
    padding-bottom: 33px;
    line-height: 1.8;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .contract {
    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin-bottom: 70px;
      &::after {
        bottom: -25px;
      }
    }
    &__text {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .contract {
    padding: 0 0 45px 0;
    &__inner {
      padding: 45px 20px 0 20px;
    }
  }
}
