.contact-us {

  &__inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
    padding-top: 80px;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__description {
    font-size: 15px;
    color: @dark-black;
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    font-size: 15px;
    color: @grey;
    text-transform: capitalize;
    position: relative;
    max-width: 435px;
    margin: 0 auto;

    &-label {
      font-size:15px;
      font-weight: 300;
      width: 100%;
      display: block;
      margin-bottom: 12px;
    }

    &-group {
      display: inline-block;
      width: 100%;
      margin-top: 30px;

      &_hidden {
        display: none;
      }

      &-wrap {
        display: inline-block;
        height: 40px;
        margin-right: 6%;

        &:first-child, &:nth-child(2) {
          max-width: 25%;
        }

        &:last-child {
          max-width: 178px;
          margin-right: 0;
        }

        &-input {
          display: inline-block;

          &:first-child {
            width: 24%;
            margin-right: 5%;
          }

          &:last-child {
            width: 70%;
          }
        }
      }

      &-link {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: @blue-color;
        float: right;
        margin-top: 12px;
      }
    }

    &-button {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      color: @white-color;
      display: block;
      margin: 60px auto 38px auto;
      background-color: @blue-color;
      width: 162px;
      height: 36px;
      border: none;
      .border-radius();
      .transition(all 0.3s);

      &:hover {
        background-color: @dark-blue-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-us {

    &__title {
      font-size: 28px;
      line-height: 36px;
      padding-top: 45px;

      &::after {
        bottom: -25px;
      }

    }
  }
}

@media screen and (max-width: 480px) {
  .contact-us {

    &__description {
      margin-bottom: 0;
    }

    &__form {

      &-group {
        width: 100%;

        &:first-of-type {
          margin-top: 0;
        }

        span {
          display: block;
          margin-bottom: 7px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        &-wrap {
          width: 100%;
          display: block;
          margin-bottom: 57px;

          &:last-child {
            margin-bottom: 0;
          }

          &:first-child, &:nth-child(2), &:last-child {
            max-width: 100%;
          }

          &-input {
            display: block;

            &:first-child, &:last-child {
              width: 100%;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}
