.custom-scroll {
  &.scrollable {
    .scroll-bar.vertical {
      z-index: 9999;
      width: 3px;
      background-color: rgb(217, 220, 222);
      border: none;

      .thumb {
        background: @white-color;
        right: -3px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24);
        width: 9px;
        border: none;
      }
    }

    .viewport {
      width: 100% !important;
    }
  }
}