.description {
  background: @background-lightgrey-color;
  text-align: center;

  &__inner {
    max-width: 980px;
    position: relative;
    padding-bottom: 75px;
    margin: 0 auto;

    &__img {
      max-width: 85%;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      margin-top: -170px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 90px 0;
    padding: 80px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__block {
    text-align: center;

    &-btn {
      color: @white-color;
      background: @blue-color;
      .border-radius (@radius: 4px);
      .transition(all .3s);
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      display: block;
      border: 0;
      padding: 9px 32px;
      margin: 0 auto;
      width: 200px;
      line-height: 2;

      &:hover {
        background: @dark-blue-color;
      }
    }

    &-item {
      vertical-align: top;
      text-align: center;
      line-height: 3;
      width: 28%;
      min-height: 425px;
      display: inline-block;
      .box-shadow(0 2px 5px rgba(0,0,0,.1));
      border: 1px solid transparent;
      margin: 15px 1.5% 50px;
      background: @white-color;
      position: relative;
      z-index: 2;
      .transition(all .3s);
      .border-radius (@radius: 4px);
      padding: 60px 7px 100px;

      &:hover {
        border: 1px solid #4fb6dc;

        .description__block-item-btn {
          background: @blue-color;
          color: @white-color;
        }

        .description__block-item-img {

          &.description__block-item-img_default {
            opacity: 0;
          }

          &.description__block-item-img_hover {
            opacity: 1;
          }
        }

        .description__block-item-wrapper {
          background: @blue-color no-repeat 50% 50%;
        }
      }

      &-wrapper {
        .transition(all .3s);
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 50%;
        width: 100px;
        height: 100px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
        background: #fff no-repeat 50% 50%;
        background-size: 50%;
        margin-left: -50px;
      }

      &-img {
        .transition(all .3s);
        width: 45px;
        display: inline-block;
        vertical-align: middle;

        &_default {
          opacity: 1;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }

        &_hover {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }

      }

      &-btn {
        color: @blue-color;
        background: @white-color;
        .border-radius (@radius: 4px);
        border: 1px solid @blue-color;
        .transition(all .3s);
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        width: 80%;
        line-height: 3;
        position: absolute;
        bottom: 35px;
        left: 10%;
      }

      &-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        padding: 0 10px;
        position: relative;

        &::after {
          content: '';
          background-color: @blue-color;
          height: 1px;
          width: 45px;
          position: absolute;
          left: 50%;
          bottom: -10px;
          margin-left: -22px;
        }
      }

      &-content {
        text-align: left;
        line-height: 2;
        margin-top: 20px;
      }
    }
  }

  &__list {
    padding-left: 40px;
    list-style: disc;
    &-item {
      line-height: 2;
      text-align: left;
    }
  }
}

@media screen and (max-width: 991px) {
  .description {
    &__inner {
      padding-bottom: 65px;
    }
    &__block {
      &-item {
        width: 30%;
        min-height: 440px;
      }
    }

  }

}

@media screen and (max-width: 767px) {
  .description {

    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin: 0 0 70px;

      &::after {
        bottom: -25px;
      }

    }
    &__block {
      padding: 25px 20px 50px 20px;
      &-item {
        width: 45%;
        &-content {
          text-align: center;
        }
      }
    }

    &__inner {
      padding-bottom: 50px;
      &__img {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .description {
    &__inner {
      padding-bottom: 0;
    }
    &__block {
      &-item {
        width: 80%;
      }
    }

  }
}