.features {
  position: relative;
  background: @background-lightgrey-color;
  padding-bottom: 102px;

  &__inner {
    font-size: 0;
    max-width: 980px;
    position: relative;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      top: -25px;
      right: -470px;
      width: 786px;
      height: 700px;
      .opacity (@opacity: .2);
      background: url('../images/features/feature-line.png') no-repeat;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 65px 0;
    padding: 71px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }
  &__block {

    &-item {
      vertical-align: top;
      text-align: center;
      line-height: 4;
      width: 22%;
      min-height: 205px;
      display: inline-block;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
      margin: 15px 1.5%;
      cursor: pointer;
      background: @white-color;
      position: relative;
      .border-radius (@radius: 4px);
      z-index: 2;
      padding-bottom: 25px;

      &-img {
        width: 70px;
        margin: 30px auto 20px;
        display: block;
      }

      &-title {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
      }

      &-hidden {
        font-size: 14px;
        line-height: 1.7;
        color: @white-color;
        text-align: left;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .border-radius (@radius: 4px);
        background-color: @blue-color;
        .transition (.3s linear);
        overflow: hidden;
        padding: 23px 15px;

        &:hover,
        &_show {
          opacity: 1;
        }

        &-content {
          height: 100%;
          overflow: hidden;
        }

      }
    }

  }
}

@media screen and (max-width: 768px) {
  .features {
    padding-bottom: 45px;

    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin-bottom: 70px;

      &::after {
        bottom: -25px;
      }

    }

    &__block {
      padding: 0 20px;
      &-item {
        width: 30%;
      }
    }

  }
}

@media screen and (max-width: 480px) {
  .features {
    &__block {

      &-item {
        width: 71%;
        margin: 15px 15%;
      }

    }
  }
}