.footer {

    &__copy {
        font-size: 15px;
        text-align: center;
        color: @dark-grey-color;
        line-height: 17px;
        width: 100%;
        background: @background-lightgrey-color;
        padding: 43px 20px 47px;
    }

}
