.for-whom {

  &__heading {
    height: 283px;
    background: @banner-background-color url('../images/for-whom-tabs/heading-bg.png') center top no-repeat;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @white-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 65px 0;
    padding: 71px 0 0 0;

    &::after {
      content: '';
      background-color: @white-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__scroll-arrow {
    bottom: 510px;
  }
}

@media screen and (max-width: 768px) {
  .for-whom {

    &__title {
      font-size: 28px;
      line-height: 36px;
      padding-top: 45px;

      &::after {
        bottom: -25px;
      }

    }
  }
}