.header {
  width: 100%;
  min-height: 107px;
  position: absolute;
  z-index: 100;
  border-bottom: 2px solid @header-border-color;
  background-color: @white-color;

  &__inner {
    max-width: 980px;
    padding: 35px 20px 0 20px;
    margin: 0 auto;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__navigation {
    float: right;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__logo {
    display: block;
    width: 181px;
    height: 33px;
    float: left;
    background: url('../images/header/logo.png') no-repeat;
    .image-2x('../images/header/logo@2x.png', 181px, 33px);
    background-size: contain;
    margin-top: 4px;
  }

  &__menu-toggle {
    width: 25px;
    height: 20px;
    display: none;
    float: left;
    border: 0;
    background: url('../images/header/burger.svg') no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
    margin-top: 9px;
  }

  &__menu {
    max-width: 828px;
    display: block;
    float: left;
    .transition(all .3s);
    margin-top: 7px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__menu-item {
    font-size: 16px;
    float: left;

    &-link {
      font-size: 16px;
      font-weight: 300;
      color: @dark-grey-color;
      text-decoration: none;
      height: 63px;
      display: block;
      border-bottom: 4px solid transparent;
      padding: 3px 17px 10px;

      &_active,
      &:hover {
        color: @blue-color;
        border-color: @blue-color;
      }
    }
  }

  &__login-btn {
    font-size: 16px;
    font-weight: 300;
    color: @dark-grey-color;
    text-align: center;
    width: 122px;
    height: 46px;
    display: block;
    float: left;
    border: 1px solid @blue-color;
    background: @white-color;
    .border-radius(3px);
    padding: 10px 0;
    margin: 0 0 0 36px;

    &:hover {
      background: @blue-color;
      color: @white-color;
    }
  }

  &__lang {
    float: left;
    position: relative;
    z-index: 9999;
    margin-top: 10px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &-toggle {
      display: block;

      &-icon {
        display: block;
        float: left;
        width: 35px;
        height: 23px;
      }

      &-arrow {
        width: 18px;
        height: 19px;
        display: block;
        float: left;
        background-image: url('../images/header/arrow.svg');
        .transform(rotate(-90deg));
        background-repeat: no-repeat;
        background-position: center center;
        .transition(all .3s);
        margin-left: 6px;
        margin-top: 2px;
      }
    }

    &-list {
      display: none;
      background-color: @white-color;
      .box-shadow(0px 2px 5px 0px rgba(0, 0, 0, .15));
      min-width: 194px;
      position: absolute;
      right: 3px;
      top: 41px;

      &-link {
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
        color: @grey;
        line-height: 3;
        display: block;
        padding: 5px 5px 5px 13px;
        vertical-align: 50px;

        &-image {
          width: 28px;
          height: 22px;
          margin-right: 13px;
          vertical-align: middle;
        }


        &:hover {
          background-color: @grey-lighter;
        }
      }
    }

    &:hover,
    &_active {
      .header__lang-toggle-arrow {
        background-color: @blue-color;
        background-image: url('../images/header/white-arrow.svg');
      }
    }

    &_active {
      .header__lang-list {
        display: block;
      }
    }
  }

  &__side-menu {
    width: 60px;
    height: 100%;
    position: fixed;
    left: -60px;
    top: 0;
    overflow-y: auto;
    background-color: @white-color;
    .transition(.2s ease);

    &-list {
      margin-top: 30px;

      &-item {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 0;
        position: relative;

        &-link {
          color: @dark-grey-color;
          position: relative;
          border-bottom: 3px solid #fff;

          &_arrow {
            &::after {
              content: '';
              position: absolute;
              color: #000000;
              display: block;
              height: 19px;
              width: 18px;
              background-image: url('../images/header/side-bar-arrow.svg');
              background-repeat: no-repeat;
              background-position: center center;
              right: -27px;
              top: 3px;
              .transform(rotate(-90deg));
            }
          }

          &:hover,
          &_active{
            color: @blue-color;
            border-bottom: 2px solid @blue-color;
          }
        }
      }
    }

    &-lang {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: @dark-grey-color;
      width: 32px;
      height: 32px;
      display: inline-block;
      .border-radius(20px);
      padding: 5px 6px;
      margin: 7px 0 0 15px;

      &:first-child {
        margin-left: 0;
      }

      &_active,
      &:hover{
        background: @blue-color;
        color: @white-color;
      }
    }

    &-lang-list {
      display: none;
      position: relative;
      margin: 10px auto;
      &_active {
        display: block;
      }

      &-item {
        .transition(background-color .4s);
        background-color: transparent;
        .transition(height 0.3s);
      }

      &-link {
        font-size: 14px;
        font-weight: 300;
        color: @dark-grey-color;
        line-height: 3;
        display: block;
        padding: 5px 0 5px 0;
        vertical-align: 50px;


        &-active {
          background-color: @grey-lighter;
        }

        &-image {
          width: 28px;
          height: 22px;
          margin-right: 13px;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width : 980px) {

  .side-menu-open {
    overflow: hidden;
  }

  .header {
    text-align: center;
    min-height: 84px;

    &__logo {
      display: inline-block;
      float: none;
      margin-top: 0;
    }

    &__inner {
      padding: 22px 20px;
    }

    &__navigation {
      display: none;
    }

    &__menu-toggle {
      display: block;
    }

    &__login-btn {
      margin: 0 10px;
    }

    &__side-menu {
      &_open {
        left: 0;
        width: 311px;
        max-width: 85%;
        .transition(.2s ease);
        .box-shadow(2px 2px 10px 0px rgba(0,0,0,.3));
      }
    }

  }

}