.input {
  position: relative;
  color: @grey;
  width: 100%;
  min-height: 40px;
  border: 1px solid @input-color;
  .border-radius(5px);
  outline: none;
  .transition(all .3s);
  .placeholder(@grey);
  padding-left: 15px;


  &:focus {
    border: 1px solid @blue-color;
  }
}