.members {
  background: @background-lightgrey-color;

  &__inner {
    font-size: 0;
    max-width: 980px;
    position: relative;
    padding-bottom: 75px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 90px 0;
    padding: 80px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__item {
    text-align: center;
    width: 20%;
    display: inline-block;
    vertical-align: top;

    &-title {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      padding: 40px 0;
    }

    &-description {
      text-align: center;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.7;
    }

    &-icon {
      width: 130px;
      height: 130px;
      display: inline-block;
      vertical-align: middle;
      .border-radius(50%);
      background-repeat: no-repeat;
      background-color: @white-color;
      background-size: 50% 50%;
      background-position: 50% 50%;

      &_customer {
        background-image: url('../images/members/customer.svg');
      }

      &_partner {
        background-image: url('../images/members/partner.svg');
      }

      &_vendor {
        background-image: url('../images/members/vendor.svg');
      }

      &_isv {
        background-image: url('../images/members/isv.svg');
      }

      &_it-pro {
        background-image: url('../images/members/itpro.svg');
      }



    }

  }

}

@media screen and (max-width: 767px) {
  .members {

    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin: 0 0 70px;

      &::after {
        bottom: -25px;
      }

    }

    &__item {
      width: 100%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    &__inner {
      padding-bottom: 50px;
    }

  }

}

@media screen and (max-width: 480px) {
  .members {
    &__inner {
      padding-bottom: 0;
    }
  }
}