.news {
  position: relative;
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: @background-lightgrey-color;

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: #383838;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 79px;

    &::after {
      content: '';
      background-color: #4fb6dc;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__content {
    width: 100%;
    position: relative;

    &-item {
      &-image {
        max-width: 270px;
        width: 100%;
        max-height: 152px;
      }

      &-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.45;
        text-transform: uppercase;
        color: @dark-black;
        text-align: left;
        margin-top: 30px;
        width: 99%;
      }

      &-description {
        font-size: 15px;
        color: @dark-black;
        line-height: 2;
        text-align: left;
        width: 100%;
      }

      &-social {
        width: 100%;
        position: relative;
        margin-top: 23px;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        &-time {
          float:left;
          font-size: 14px;
          color: @dark-grey;
          font-weight: 400;
        }

        &-link {
          font-size:14px;
          color: @blue-color;
          text-decoration: underline;
          font-weight: 400;
          display: block;
          float: right;

          &:hover {
            color: @dark-blue-color;
          }
        }
      }
    }
  }


  &__slider {
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    &-item  {
      width: 100%;
      text-align: center;
      margin: 0 20px;
    }

    .slick {
      position: relative;

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 50%;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/news/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @blue-color;
          background-image: url('../images/news/arrow-white.svg');
        }
      }

      &-prev {
        left: 0;
        background-position: 7px 5px;
      }

      &-next {
        right: 0;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        margin-top: 30px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: #d3d4d5;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }
          }
        }
      }
    }


  }
}

@media screen and (max-width: 768px) {
  .news {
    &__content {
      width: 80%;
      margin: 0 auto;
    }
  }
}