.news-page {
  position: relative;
  padding-top: 60px;
  padding-bottom: 160px;
  background-color: transparent;

  &__inner {
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__main-content,
  &__aside {
    font-family: "Segoe UI";
    display: inline-block;
    position: relative;
  }

  &__main-content {
    max-width: 67%;
    margin-right: 5%;

    &-title {
      color: @dark-grey-color;
      font-weight: 300;
      font-size: 25px;
      text-transform: uppercase;
      display: inline-block;
      text-align: left;
      width: 87%;
    }

    &-time {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      display: inline-block;
      color: @dark-grey-color;
      text-align: right;
    }

    &-image {
      width: 100%;
      max-height: 370px;
      display: inline-block;
      margin-top: 30px;
    }

    &-text {
      font-size: 15px;
      color: @dark-black;
      line-height: 1.928;
      margin-top: 30px;

      &-list {
        list-style: disc;
        margin-left: 45px;
      }

      &-title {
        font-size: 20px;
        color: @dark-black;
        line-height: 1.928;
        margin-top: 40px;
      }
    }

    &-button {
      font-size: 15px;
      font-weight: 400;
      color: @white-color;
      text-align: center;
      display: block;
      width: 190px;
      height: 45px;
      background-color: @blue-color;
      border: none;
      .transition(all 0.3s);
      .border-radius(5px);
      margin-top: 95px;
      padding-top: 12px;
      
      &:hover {
        background-color: @dark-blue-color;
      }
    }
  }


  &__aside {
    width: 28%;
    float: right;

    &-title {
      color: @blue-color;
      font-weight: 300;
      font-size: 25px;
      text-transform: uppercase;
      display: inline-block;
      text-align: left;
    }

    &-item {
      margin-bottom: 35px;
      width: 100%;

      &-image {
        width: 100%;
        max-height: 155px;
        margin-top: 30px;
      }

      &-title {
        font-size: 20px;
        font-weight: 400;
        color: @dark-black;
        line-height: 1.45;
        text-transform: uppercase;
      }

      &-text {
        font-size: 15px;
        color: @dark-black;
        line-height: 1.928;
        margin-top: 10px;

      }

      &-info {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 25px;

        &-time {
          font-size: 14px;
          color: @dark-grey-color;
          display: block;
          float: left;
        }

        &-link {
          font-size: 15px;
          color: @blue-color;
          text-decoration: underline;
          display: block;
          float: right;
          .transition(all .3s);

          &:hover {
            color: @dark-blue-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .news-page {

    &__main-content {

      &-title {
        font-size: 20px;
        line-height: 1.4;
        width: 84%;
      }
    }

    &__aside {

      &-title {
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .news-page {
    padding-bottom: 50px;

    &__main-content {
      width: 80%;
      display: block;
      margin: 0 auto;

      &-title {
        width: 100%;
        text-align: center;
      }

      &-time {
        display: none;
      }

      &-text {
        font-size: 12px;
        margin-top: 15px;

        &-title {
          font-size: 17px;
          margin-top: 20px;
        }
      }
    }

    &__aside {
      display: block;
      width: 80%;
      float: none;
      margin: 0 auto;

      &-title {
        display: block;
        text-align: center;
        margin-top:50px;
      }

      &-item {
        float: left;
        max-width: 29%;
        margin: 0 2.16%;
        display: inline-block;

        &-title {
          font-size: 15px;
        }

        &-text {
          font-size: 12px;
        }

        &-image {
          min-height: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .news-page {
    &__aside {
      display: none;
    }
  }
}

