.packages {
  position: relative;
  background-color: @white-color;
  padding-bottom: 26px;

  &::after {
    content: '';
    position: absolute;
    bottom: -346px;
    right: 0;
    width: 230px;
    height: 540px;
    background: url('../images/packages/packages-line.png') no-repeat;
  }
  &__privacy {
    font-size: 12px;
    color: @privacy-color;
    text-align: center;
  }
  &__inner {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 60px 0;
    padding: 72px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__slider {
    position: relative;
    z-index: 2;
    padding-bottom: 13px;
    margin: 0 -10px;

    &-block {
      height: 538px;
      padding: 0 10px;
    }

    &-item {
      width: 100%;
      max-width: 200px;
      min-height: 313px;
      position: relative;
      top: 50%;
      .border-radius(4px);
      .box-shadow(0 2px 10px 0px rgba(0,0,0,.3));
      .transition(all .3s);
      background: @white-color;
      padding-bottom: 17px;
      margin: -144px auto 0 auto;

      &-title {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 12px 0 17px;
      }

      &-price {
        text-align: center;
        font-size: 8px;
        font-weight: 300;
      }
      &-dollar {
        font-size: 13px;
        color: @blue-color;
        font-weight: 300;
        padding-left: 5%;
      }
      &-count {
        color: @blue-color;
        font-size: 23px;
        font-weight: 300;
        padding-right: 5%;
      }
      &-list {
        width: 100%;
        height: 91px;
        background: @background-list-color;
        overflow: auto;
        padding: 10px 5px 13px 20px;
        margin-top: 10px;

        &-item {
          list-style-type: none;
          font-size: 8px;
          font-weight: 300;
          padding-top: 2px;
          line-height: 1.4;

          &::before {
            color: @blue-color;
            content: "•";
            padding-right: 3px;
          }
        }
      }

      &-btn {
        font-size: 9px;
        text-decoration: none;
        color: @white-color;
        width: 76%;
        background: @blue-color;
        .border-radius (@radius: 4px);
        padding: 2px 32px;
        display: block;
        text-align: center;
        margin: 0 auto;

        &:hover {
          background: @dark-blue-color;
        }
      }

      &-logos {
        text-align: center;
        margin-bottom: 10px;
        &_item {
          display: inline-block;
          vertical-align: middle;
          width: 15px;
          margin: 5px 7px;
        }
      }

      &-integration {
        text-align: center;
        font-size: 9px;
        font-weight: 300;
        padding-top: 16px;
        text-transform: uppercase;

      }

    }

    .slick-center {
      .packages__slider-item {
        .transform(scale(1.75));
        z-index: 5;
        .box-shadow(0 2px 15px 0px rgba(79,182,220,.45));
      }

    }

    .slick {

      &-track {
        padding: 40px 0;
      }

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 50%;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/packages/packages-slider/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @blue-color;
          background-image: url('../images/packages/packages-slider/arrow-white.svg');
        }

      }

      &-prev {
        left: -30px;
        background-position: 7px 5px;
      }

      &-next {
        right: -30px;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        margin-top: 30px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: #d3d4d5;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }

          }
        }

      }

    }

  }


}

@media screen and (min-width: 1024px) {
  .packages {
    &__slider {
      &_not-centered {

        .packages__slider-block {
          height: 518px;
        }

        .packages__slider-item {
          max-width: 300px;
          min-height: 500px;
          top: 0;
          margin: 0 auto;

          &-title {
            font-size: 21px;
            padding: 21px 0 30px;
          }

          &-price {
            font-size: 14px;
          }

          &-dollar {
            font-size: 23px;
          }

          &-count {
            font-size: 40px;
          }

          &-list {
            height: 160px;
            padding: 17px 0 23px 35px;
            margin-top: 8px;

            &-item {
              font-size: 14px;
              padding-top: 3px;

              &::before {
                padding-right: 5px;
              }
            }
          }

          &-btn {
            font-size: 16px;
            line-height: 41px;
            min-height: 42px;
            padding: 3px 56px;
          }

          &-logos {
            margin-bottom: 17px;
            &_item {
              width: 30px;
              margin: 9px 12px;
            }
          }

          &-integration {
            font-size: 16px;
            padding-top: 28px;

          }

        }

      }
    }
  }
}
@media screen and (max-width: 767px) {
  .packages {
    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin: 0 0 40px;
      &::after {
        bottom: -25px;
      }
    }
    &__slider {

      &-item {
        max-width: 360px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .packages {
    &__slider {

      &-item {
        max-width: 300px;
      }

      &-block {
        height: 445px;
      }

      .slick {
        &-track {
          padding: 25px 0;
        }
      }

      .slick-center {

        .packages__slider-item {
          .transform(scale(1.4));
        }
      }
    }
  }
}