.partners {
  background: @background-darkgrey-color;
  padding-bottom: 98px;
  text-align: center;
  margin: 0 auto;

  &__inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 72px 0 80px;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__slider {
    text-align: center;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    &-item  {
      margin: 0 20px;


      &-icon {
        max-width: 100%;
        vertical-align: middle;
        margin: 0 auto;
      }
    }

    .slick {
      position: relative;
      margin: 0 30px;

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 50%;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/partners/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @blue-color;
          background-image: url('../images/partners/arrow-white.svg');
        }
      }

      &-prev {
        left: -2%;
        background-position: 7px 5px;
      }

      &-next {
        right: -2%;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        margin-top: 30px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: #d3d4d5;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }
          }
        }
      }
    }
  }

  &__item {
    font-size: 0;
    text-align: center;
  }
}


@media screen and (max-width: 768px) {
  .partners {
    padding-bottom: 45px;

    &__slider {

      .slick {

        &-dots {
          text-align: center;
          margin-top: 30px;

          li {
            margin-left: 10px;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
      margin: 45px 0 70px;

      &::after {
        bottom: -25px;
      }
    }
  }
}


