.partner {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;

  &__privacy {
    font-size: 12px;
    color: @privacy-color;
    text-align: center;
  }
  &__inner {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 60px 0;
    padding: 72px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__slider {
    position: relative;
    z-index: 2;
    padding-bottom: 13px;
    margin: 0 -10px;

    &-block {
      height: 538px;
      padding: 0 10px;
    }

    &-item {
      width: 100%;
      max-width: 200px;
      min-height: 313px;
      position: relative;
      top: 50%;
      .border-radius(4px);
      .box-shadow(0 2px 10px 0px rgba(0,0,0,.3));
      .transition(all .3s);
      background: @white-color;
      padding-bottom: 17px;
      margin: -144px auto 0 auto;

      &-title {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 12px 0 17px;
      }

      &-price {
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        margin: 23px 0;
      }
      &-dollar {
        font-size: 19px;
        color: @blue-color;
        font-weight: 300;
        padding-left: 5%;
      }
      &-count {
        color: @blue-color;
        font-size: 24px;
        font-weight: 300;
        padding-right: 5%;
      }
      &-list {
        width: 100%;
        min-height: 91px;
        background: @background-list-color;
        overflow: auto;
        padding: 10px 5px 13px 20px;
        margin-top: 10px;

        &-item {
          list-style-type: none;
          font-size: 14px;
          font-weight: 300;
          padding-top: 2px;
          line-height: 1.4;

          &::before {
            color: @blue-color;
            content: "•";
            padding-right: 3px;
          }
        }
      }

      &-btn {
        font-size: 9px;
        text-decoration: none;
        color: @white-color;
        width: 76%;
        background: @blue-color;
        .border-radius (@radius: 4px);
        padding: 2px 32px;
        display: block;
        text-align: center;
        margin: 0 auto;

        &:hover {
          background: @dark-blue-color;
        }
      }

      &-logos {
        text-align: center;
        margin-bottom: 20px;
        &_item {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          margin: 5px 7px;
        }
      }

      &-integration {
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: 300;
        padding-top: 16px;
        text-transform: uppercase;

      }

    }

    .slick-center {
      .packages__slider-item {
        .transform(scale(1.75));
        z-index: 1;
        .box-shadow(0 2px 15px 0px rgba(79,182,220,.45));
      }

    }

    .slick {

      &-track {
        padding: 40px 0;
      }

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 50%;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/packages/packages-slider/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @blue-color;
          background-image: url('../images/packages/packages-slider/arrow-white.svg');
        }

      }

      &-prev {
        left: -30px;
        background-position: 7px 5px;
      }

      &-next {
        right: -30px;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        margin-top: 30px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: #d3d4d5;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }

          }
        }

      }

    }

  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 65px 0;
    padding: 71px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }
  }

  &__inner {
    width: 100%;
    position: relative;


    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }



  //========================================================
  &__container {

    &-slide {
      width: 27%;
      margin-right: 5%;
      float: left;
      box-shadow: 0px 2px 6px 0px rgba(0, 5, 9, 0.1);
    }

    &-list {
      width: 100%;
      float: right;
    }
  }

  &__list {
    &-item {
      padding-bottom: 80px;
      position: relative;

      &-title {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.16;
        color: @main-font-color;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        border-bottom: 1px solid @header-border-color;
        border-right: 1px solid @header-border-color;
        .transform(rotate(45deg));
        bottom: 33px;
        left: 41px;
      }

      &:last-child {
        padding-bottom: 0;

        &::before {
          content: none;
        }
      }
    }

    &-icon {
      float: left;
      width: 110px;
      height: 110px;
      .border-radius(50%);
      background-color: @background-lightgrey-color;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 70px 70px;
    }

    &-info {
      margin-left: 140px;
    }

    &-title {
      display: block;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 100;
      margin-bottom: 15px;
      line-height: 28px;
    }

    &-text {
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 30px;
      color: @dark-black;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .partner {

    &__title {
      font-size: 28px;
      line-height: 36px;
      padding-top: 45px;

      &::after {
        bottom: -25px;
      }
    }

    &__container {

      &-slide {
        display: block;
        max-width: 245px;
        width: 70%;
        margin: 0 auto 45px auto;
        float: none;
      }

      &-list {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .partner {
    &__list {

      &-item {
        &::before {
          left: 50%;
          margin-left: -12px;
        }
      }

      &-icon {
        display: block;
        float: none;
        margin: 0 auto 20px;
      }

      &-info {
        margin-left: 0;
      }

      &-title {
        text-align: center;
      }
    }
  }
}
