.radio-button {
    position: relative;
    margin: 0 20px;
    cursor: pointer;

    &::before {
      .transition(transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75));
      .transform(scale(0, 0));
      content: "";
      position: absolute;
      top: 1px;
      left: 3px;
      z-index: 1;
      width: 8px;
      height: 8px;
      background-color: @blue-color;
      border-radius: 50%;
    }

    &:checked::before {
      .transform(scale(1, 1));
    }
  
    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: -2px;
      width: 16px;
      height: 16px;
      background-color: @white-color;
      border: 1px solid @dark-grey-color;
      border-radius: 50%;
    }
}

@media screen and (max-width: 480px) {
  .radio-button {
    display: block;
    float: left;
  }
}