.reviews {
  background: @background-lightgrey-color;
  padding-bottom: 70px;

  &__inner {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: @title-color;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 80px 0;
    padding: 72px 0 0 0;

    &::after {
      content: '';
      background-color: @blue-color;
      height: 1px;
      width: 105px;
      position: absolute;
      left: 50%;
      bottom: -37px;
      margin-left: -52px;
    }

  }

  &__slider {

    &-item-icon {
      width: 138px;
      height: 138px;
      display: block;
      .border-radius(50%);
      margin: 0 auto 26px auto;
    }

    &-item-title {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      display: block;
      margin-bottom: 12px;
    }

    &-item-position {
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      color: @light-grey-color;
      display: block;
      margin-bottom: 26px;
    }

    &-item-quote {
      font-size: 15px;
      line-height: 29px;
      text-align: center;
      max-width: 591px;
      position: relative;
      background-color: @white-color;
      .border-radius(4px);
      padding: 18px 43px 21px 45px;
      margin: 0 auto;

      &::before,
      &::after {
        content: '';
        width: 28px;
        height: 22px;
        position: absolute;
        background: url('../images/reviews/reviews-slider/quote.svg') no-repeat;
      }

      &::before {
        top: 0;
        left: -30px;
      }

      &::after {
        bottom: 0;
        right: -30px;
        transform: rotate(180deg);
      }

    }

    .slick {

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 208px;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/reviews/reviews-slider/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;

        &:hover {
          background-color: @blue-color;
          background-image: url('../images/reviews/reviews-slider/arrow-white.svg');
        }

      }

      &-prev {
        left: -7px;
        background-position: 7px 5px;
      }

      &-next {
        right: -7px;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;
        margin-top: 30px;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: #d3d4d5;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }
          }
        }
      }
    }

  }

}

@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 45px;
    &__title {
      font-size: 28px;
      padding-top: 50px;
      margin: 0 0 70px;
      &::after {
        bottom: -25px;
      }
    }
    &__slider {
      &-item {
        padding: 0 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .reviews {
    &__slider {
      &-item-quote {
        padding: 15px 25px;
      }
    }
  }
}