.scroll-arrow {
  display: block;
  position: absolute;
  bottom: 143px;
  right: 8%;
  cursor: pointer;
  width: 42px;
  height: 42px;
  z-index: 99999;
  background: @blue-color url('../images/scroll-arrow/scroll-arrow.svg');
  .transition(all .3s);

  &:hover {
    background-color: @dark-blue-color;
  }
}

@media screen and (max-width: 480px) {
  .scroll-arrow {
    display: none;
  }
}
