.servers {
  position: relative;
  z-index: 2;

  &__inner {
    max-width: 980px;
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__tabs {
    display: inline-block;
    overflow: hidden;
    padding-top: 80px;
    margin-bottom: 38px;

    &-link {
      font-size: 16px;
      font-weight: 300;
      color: @dark-grey-color;
      text-align: center;
      height: 38px;
      min-width: 139px;
      display: block;
      float: left;
      border: 1px solid @blue-color;
      padding: 6px 19px 0;

      &:first-child {
        .border-radius(4px 0 0 4px);
      }

      &:last-child {
        .border-radius(0 4px 4px 0);
      }

      &:hover,
      &_active {
        color: @white-color;
        background-color: @blue-color;
      }
    }
  }

  &__tabs-content {
    padding: 0 20px 78px 20px;
  }

  &__tabs-slider {
    display: none;

    &_current {
      display: block;
    }

    &-item {
      &-icon {
        text-align: center;
        height: 66px;
        margin-bottom: 19px;

        &-image {
          max-height: 100%;
          max-width: 100%;
          display: inline-block;
        }

      }

      &-text {
        font-size: 15px;
        font-weight: 300;
        max-width: 180px;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
  }


  .slick {

    &-arrow {
      text-indent: -9999px;
      width: 31px;
      height: 38px;
      position: absolute;
      top: 50%;
      z-index: 2;
      border: 0;
      .transition(all .3s);
      background-color: transparent;
      background-image: url('../images/servers/servers-sliders/arrow.svg');
      background-repeat: no-repeat;
      background-size: 15px 27px;
      margin-top: -19px;

      &:hover {
        background-color: @blue-color;
        background-image: url('../images/servers/servers-sliders/arrow-white.svg');
      }

    }

    &-prev {
      left: -27px;
      background-position: 7px 5px;
    }

    &-next {
      right: -27px;
      background-position: 8px 5px;
      transform: rotate(180deg);
    }

    &-dots {
      text-align: center;
      margin-top: 30px;

      li {
        display: inline-block;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }

        button {
          text-indent: -9999px;
          width: 10px;
          height: 10px;
          background: #d3d4d5;
          border: 0;
          .transition(all .3s);
          .border-radius(50%);
          padding: 0;

          &:hover {
            background: @blue-color;
          }
        }

        &.slick-active {

          button {
            background: @blue-color;
          }

        }
      }

    }

  }
}

@media screen and (max-width: 767px) {
  .servers {
    &__tabs {
      padding-top: 45px;
    }
    &__tabs-content {
      padding-bottom: 45px;
    }
  }
}