.tab-bar {
  &__heading {
    background-color: @background-lightgrey-color;
  }

  &__nav {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 15px;
    font-size: 0;
    position: relative;
    text-align: center;

    &-item {
      display: inline-block;
      font-size: @main-font-size;
      width: 20%;
      text-align: center;
      vertical-align: top;
      margin-top: -85px;
      cursor: pointer;

      &_active,
      &:hover {
        .tab-bar__nav {
          &-icon {
            background-color: @blue-color;

            &-from, &-chf, &-cost, &-per-day {
              color: @white-color;
            }

            &-default {
              opacity: 0;
            }

            &-hover {
              opacity: 1;
            }

          }

          &-text {
            background-color: @white-color;
          }
        }
      }
    }

    &-inner {
      width: 133px;
      margin: 0 auto;
    }

    &-icon {
      display: block;
      width: 133px;
      height: 133px;
      position: relative;
      .border-radius(50%);
      .transition(all .3s);
      overflow: hidden;
      background-color: @white-color;
      margin-bottom: 20px;


      &-from, &-chf, &-cost, &-per-day {
        display: block;
        width: 100%;
      }

      &-from {
        font-size: 14px;
        font-weight: 300;
        color: @dark-grey-color;
        margin-top: 18px;
      }

      &-chf {
        font-size: 18px;
        color: @blue-color;
      }

      &-cost {
        font-size: 40px;
        color: @blue-color;
        margin: 7px 0;
      }

      &-per-day {
        font-size: 14px;
        font-weight: 300;
        color: @dark-grey-color;
      }

      &-default,
      &-hover {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-size: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &-default {
        opacity: 1;
      }

      &-hover {
        opacity: 0;
      }
    }

    &-title {
      display: block;
      color: @title-color;
      text-transform: uppercase;
      font-size: 20px;
      margin: 35px 0 15px;
    }

    &-text {
      font-size: 15px;
      color: @blue-color;
      display: table-cell;
      height: 72px;
      width: 133px;
      vertical-align: middle;
      .transition(all .3s);

      &_gray {
        font-size: 20px;
        color: @title-color;
      }
    }
  }

  &__item {
    display: none;

    &_active {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .tab-bar {

    &__nav {
      overflow: auto;
      white-space: nowrap;
      display: inline-block;
      margin: -85px 0 -4px;
      width: 100%;
      padding: 0;
      text-align: center;

      &-item {
        width: 125px;
        margin-top: 0;
        border-bottom: 4px solid transparent;

        &_active {
          border-color: @blue-color;
        }
      }

      &-inner {
        width: 110px;
      }

      &-icon {
        width: 110px;
        height: 110px;

        &-from {
          margin-top: 0;
        }
      }

      &-title {
        margin: 20px 0 0;
        padding-bottom: 15px;
        font-size: 18px;
      }

      &-text {
        display: none;
      }
    }
  }
}