.top-slider {
  width: 100%;
  position: relative;
  background: @banner-background-color url('../images/top-slider/top-slider-back.png') center top no-repeat;
  padding: 20px 0 23px 0;

  &__title {
    font-size: 52px;
    font-weight: 300;
    color: @white-color;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    max-width: 510px;
    padding: 0 20px;
    margin: 0 auto 20px auto;
  }

  &__slider {
    max-width: 1293px;
    margin: 0 auto;

    &-item {
      width: 100%;
      height: 420px;
      background-size: auto 100%;
      background-position: center top;
      background-repeat: no-repeat;

      &_one {
        background-image: url('../images/top-slider/slide1.png');
      }

      &_two {
        background-image: url('../images/top-slider/slide2.png');
      }

      &_three {
        background-image: url('../images/top-slider/slide3.png');
      }
    }

    .slick {

      &-arrow {
        text-indent: -9999px;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 185px;
        z-index: 2;
        border: 0;
        .transition(all .3s);
        background-color: transparent;
        background-image: url('../images/top-slider/arrow.svg');
        background-repeat: no-repeat;
        background-size: 15px 27px;
        margin-top: -19px;

        &:hover {
          background-color: @blue-color;
        }

      }

      &-prev {
        left: 12vw;
        background-position: 7px 5px;
      }

      &-next {
        right: 12vw;
        background-position: 8px 5px;
        transform: rotate(180deg);
      }

      &-dots {
        text-align: center;

        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          button {
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: @white-color;
            border: 0;
            .transition(all .3s);
            .border-radius(50%);
            padding: 0;

            &:hover {
              background: @blue-color;
            }
          }

          &.slick-active {

            button {
              background: @blue-color;
            }

          }
        }

      }

    }

  }

  &__button {
    font-size: 17px;
    color: @blue-color;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 151px;
    height: 46px;
    position: absolute;
    left: 50%;
    bottom: 70px;
    .border-radius(4px);
    background-color: @white-color;
    padding-top: 12px;
    margin-left: -75px;

    &:hover {
      color: @white-color;
      background-color: @blue-color;
    }
  }

}

@media screen and (max-width: 768px) {
  .top-slider {

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__slider {

      &-item {
        height: 400px;
      }

      .slick {

        &-dots {
          margin-top: 20px;
        }

      }

    }

  }
}

@media screen and (max-width: 480px) {
  .top-slider {

    &__slider {

      &-item {
        height: 280px;
      }

    }
  }
}
