.values {
  background: @background-lightgrey-color;
  min-height: 436px;
  
  &__inner {
    max-width: 980px;
    position: relative;
    padding-bottom: 75px;
    margin: 0 auto;
  }
  &__wrapper {
    position: absolute;
    top: -115px;
    left: 20px;
    right: 20px;
    background: url("../images/values/values-back.png") no-repeat;
    background-size: cover;

    &-align {
      text-align: center;
    }

    &-title {
      color: @blue-color;
      font-size: 20px;
      text-align: center;
      padding: 35px 0;
    }

    &-item {
      width: 30%;
      background: @white-color;
      height: 255px;
      line-height: 19;
      display: inline-block;
      vertical-align: middle;
      margin: 0 9px;
      padding: 0 16px;
      .border-radius (@radius: 3px);
      overflow-y: auto;

      &-text {
        font-size: 16px;
        line-height: 1.813;
        color: @dark-black;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-text {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 auto;
      text-align: center;
      width: 57%;
      color: @white-color;
      line-height: 1.7;
    }

    &-wrap-text {
      background-color: @blue-color;
      width: 100%;
      margin-top: 30px;
      padding: 20px 0;
    }
  }

}

@media screen and (max-width: 768px) {
  .values {
    height: auto;
    &__inner {
      padding-bottom: 10px;
    }
    &__wrapper {
      position: relative;
      top:0;
      left: 0;
      right: 0;
      background: @background-lightgrey-color;

      &-item {
        width: 65%;
        margin: 16px 0;
      }

      &-text {
        width: 85%;
      }
    }
  }
}