* {
	.box-sizing(border-box);
}

html {
	overflow-x: hidden;
}

body {
	font-family: @main-font-family;
	font-size: @main-font-size;
	font-weight: normal;
	line-height: @main-line-height;
	color: @main-font-color;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: inherit;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

strong {
	font-weight: normal;
}

::selection {
	background-color: #4fb6dc;
}

::-ms-clear {
	display: none;
}


body,
code,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
pre,
span,
ul {
	margin: 0;
	padding: 0;
	outline: none;
}

ol,
ul {
	list-style: none;
}

html, body {
	position: relative;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

a  {
	text-decoration: none;
	.transition(all .3s);
}

.content {
	padding-top: 107px;
}

@media screen and (max-width: 980px) {
	.content {
		padding-top: 84px;
	}
}